body{
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Poppins', sans-serif;

}
/* home profile */
.avatar img{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: auto;
    width: 8rem;
}

.title-typed {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.atc-profile {
    margin-top: 10px;
}
/* end home profile */

/* list page */
.post-year{
    font-size: 20px;
    margin-top: 20px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dashed rgb(149, 157, 165);;
}
.posts-list{
    margin-left: 15px;
}
.post-day{
    color: rgb(149, 157, 165);
}
/* end list page */

/* list page tutorial */
.hero-tutor{
    margin-bottom: 20px;
}
.card-lt{
    border-radius: 10px;
}
figure .korner{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.judul-lt{
    font-size: 1.5rem;
}
/* end */

/* artikel tutorial */
.img-header-lt img{
    border-radius: 10px;
}
.avatar-author img.img-avatar {
    border-radius: 50%;
}
.avatar-author{
    display: flex;
    align-items: center;
    margin: 10px 0px 35px 0px;
}
.avatar-author a{
    margin-left: 10px;
    margin-right: 20px;
}
.avatar-author time{
    margin-left: 4px;
}
.tags .tag{
    margin-bottom: 10px;
    margin-top: 10px;
}

/* end */