body{
    font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
}
/* home profile */
.avatar img{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: auto;
    width: 8rem;
}

.title-typed {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.atc-profile {
    margin-top: 10px;
}


/* end home profile */
  .fix-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow:hidden;
}
/* footer */
.footer-fixed {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow:hidden;
}

/* list page */
.post-year{
    font-size: 20px;
    margin-top: 20px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dashed rgb(149, 157, 165);;
}
.posts-list{
    margin-left: 15px;
}
.post-day{
    color: rgb(149, 157, 165);
}
/* end list page */