{{ define "main" }}
<main role="main" class="margin-top colum is-mobile">
  <div class="column is-half is-offset-one-quarter">

    <h4 class="title">{{ .Section }}</h4>

    {{ .Content }}

    {{- range .Data.Pages.GroupByDate "2006" }}
    <div class="posts-group">
        <div class="post-year">{{ .Key }}</div>

        <ul class="posts-list">
            {{- range .Pages }}
                <li class="post-item">
                    <a href="{{.Permalink}}">
                        <span class="post-title">{{.Title}}</span>
                        <span class="post-day is-pulled-right">
                            {{ if .Site.Params.dateformShort }}
                                {{ .Date.Format .Site.Params.dateformShort }}
                            {{ else }}
                                {{ .Date.Format "Jan 2"}}
                            {{ end }}
                        </span>
                    </a>
                </li>
                <hr>
            {{- end }}
        </ul>
    </div>
{{- end }}
  </div>
</main>

{{ end }}