<!-- <div class="container">
    <div class="has-text-centered">
        <div class="avatar">
            <img class="" src="/img/avatar.png" alt="">
        </div>
        
        <div id="typed-strings">
            <p>Firdaus</p>
            <p>Ruang Bikin-Bikin Firdaus...</p>
        </div>
        <span class="title-typed" id="typed"></span>

    
    </div>
</div> -->
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="avatar">
                <img class="" src="/img/avatar.png" alt="">
            </div>

            <div id="typed-strings">
                <p>Firdaus</p>
                <p>Ruang Bikin-Bikin Firdaus...</p>
            </div>
            <div class="title-typed">
                <span id="typed"></span>
            </div>
            {{ partial "home/social-media.html" }}
            <div class="atc-profile">
                <a href="notes/" class="button is-light">Notes</a>
                <a href="rubik/" class="button is-primary">Rubik</a>
            </div>
        </div>
    </div>
</section>